.viz-section {
  display: flex;
  justify-content: space-evenly;
}

.viz-div {
  margin-right: 1em;
}

.viz-row {
  display: flex;
}

.viz-block {
  width: 0.5em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: default;
  transition: border-color 0.25s;
  margin: 0.5em;
}

.viz-block-not-visited {
  background-color: #1a1a1a;
}

.viz-block-visited {
  background-color: #5a5a5a;
}

.viz-block-current {
  color: #1a1a1a;
  background-color: #a1a1a1;
}

.viz-block-wall {
  background-color: #f44336;
}

.viz-results {
  display: flex;
}

.viz-results-key {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: default;
  transition: border-color 0.25s;
  margin: 0.5em;
  background-color: #1a1a1a;
  width: 100%;
  text-align: start;
}
